@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <img src="..umkc_logo.jpg" alt="UMKC">
    <img src="..commerce_logo.png" alt="Commerce bank" height="500" width="500">
   
</div>
<div style="margin-top: 0px">
    <h1 style="text-align:center">
        Commerce Bank Web Portal
    </h1>
    <h3 style="text-align:center">
        <small class="text-muted">Computer Science 451R by Group 8</small>
    </h3>
</div>
<div class="row justify-content-center" style="margin-top: 30px">
    <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 30px">Login</button>
    <button type="button" class="btn btn-outline-success btn-lg">Register</button>
</div>
